#executive
  .contact
    - if @executive.image && @executive.image.url != '/images/no_image.gif'
      .thumb= image_tag @executive.image.url, :alt => ''
    .info
      %h1= @executive.name
      %p.title= raw(@executive.title)
      - unless @executive.office_address.blank?
        .contact_data
          %h2 Office
          %p= raw(@executive.office_address)
      - unless @executive.phone.blank? && @executive.email.blank?
        .contact_data
          %h2 Contact
          %p
            - unless @executive.phone.blank?
              = "#{@executive.phone} - "
            - unless @executive.email.blank?
              = link_to @executive.email, "mailto:#{@executive.email}"
  .bio
    %h2 Bio
    %p= @executive.bio
    