- content_for :head do
  %title= "#{@page.name} | Gables offers Apartments for Rent, Luxury Apartments, Furnished Apartments, Unfurnished Apartments and Corporate Housing"
  %meta{:name => 'description', :content => "Gables features luxury apartments for rent including unfurnished, furnished apartments, and corporate housing. Free apartment finder and rentals search at Gables.com makes it easy."}

- content_for :marquee do
  - unless @slides.nil?
    #life_marquee
      .slider
        %ul
          - @slides.each do |slide|
            %li>
              %a{:href => slide.image_url, :class => 'zoom_image'}>
                =image_tag(slide.image_url)
      .wrapper
        .description
          %p= @page.subtitle
          %h1= @page.title
          %p= @page.description
          
  - else
    #marquee.inner
      .wrapper
        .item
          =image_tag @page.image_url, :alt => ''
          .description_wrapper
            .description
              %p= @page.subtitle
              %h1= @page.title
              %p= @page.description
          
- content_for :section_nav do
  = render :partial => 'nav'
          
#inner_page
  %article.main_content
    - @page.main_blocks.each do |main_block|
      - if main_block.editable
        = raw(main_block.content)
      - else
        = render :partial => main_block.partial
  
  %aside.sub_content
    - @page.side_blocks.each do |side_block|
      - if side_block.editable
        = raw(side_block.content)
      - else
        = render :partial => side_block.partial
