%h2 A new GCA contact form has been submitted. Details follow:
%p <strong>Name:</strong> #{@info.first_name} #{@info.last_name}
%p <strong>Email:</strong> #{@info.email}
%p <strong>Company:</strong> #{@info.company}
%p <strong>Primary Contact:</strong> #{@info.primary}
%p <strong>Phone:</strong> #{@info.phone}
%p <strong>Additional Phone:</strong> #{@info.phone2}
%p <strong>Is Apartment Furnished:</strong> #{@info.furnished}
%p <strong>Arrival Date:</strong> #{@info.arrival_date}
%p <strong>Departure Date:</strong> #{@info.departure_date}
%p <strong>Requested City:</strong> #{@info.requested_city}
%p <strong>Requested State:</strong> #{@info.requested_state}
%p <strong>Apartment Type:</strong> #{@info.apartment_type}
%p <strong>Work Location:</strong> #{@info.work_location}
%p <strong>Type of Housing:</strong> #{@info.housing_type}
%p <strong>Housing Budget:</strong> #{@info.budget}
%p <strong>Bringing any Pets:</strong> #{@info.pets}
%p <strong>Comments/Questions:</strong><br />#{@info.comments}
%p <strong>How did you find us?</strong> #{@info.find_us}