!!!Strict
%html{'lang' => "en"}
  %head
    %meta{:charset => 'utf-8'}
    %meta{'http-equiv' => 'X-UA-Compatible', :content => 'chrome=1; IE=9; IE=8; IE=7; IE=EDGE'}
    %meta{'name' => 'viewport', :content => 'width=device-width'}
    - unless Rails.env == 'production'
      %meta{:name => 'ROBOTS', :content => 'NOINDEX, NOFOLLOW'}
    = stylesheet_link_tag 'application'
    = yield :head
    %link{:rel => 'shortcut icon', :href => '/favicon.ico'}
    /[if lte IE 8]
      = stylesheet_link_tag 'ie'
    /[if lte IE 7]
      = stylesheet_link_tag 'ie7'
      = stylesheet_link_tag 'ie6bar'
    /[if IE]
      = javascript_include_tag 'html5'
  %body{:class => !@section.blank? ? @section : params[:controller].split('/')[0]}
    - if notice
      .flash.notice
        %p= notice
    - if alert
      .flash.alert
        %p= alert
    #container
      = render :partial => '/shared/header', :locals => {:context => 'site'}
      = yield :marquee
      = yield :section_nav
      %section#main_content= yield
      = render :partial => '/shared/footer', :locals => {:context => 'site'}
    = javascript_include_tag 'application'
    = yield :javascripts
    :plain
      <!-- Quantcast Tag -->
      <script type="text/javascript">
      var _qevents = _qevents || [];

      (function() {
      var elem = document.createElement('script');
      elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
      elem.async = true;
      elem.type = "text/javascript";
      var scpt = document.getElementsByTagName('script')[0];
      scpt.parentNode.insertBefore(elem, scpt);
      })();

      _qevents.push({
      qacct:"p-3e6nF-wKdMW0g"
      });
      </script>

      <noscript>
      <div style="display:none;">
      <img src="//pixel.quantserve.com/pixel/p-3e6nF-wKdMW0g.gif" border="0" height="1" width="1" alt="Quantcast"/>
      </div>
      </noscript>
      <!-- End Quantcast tag -->
      <!-- Google Analytics code for Gables.com and related sites start--> 
      <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-8527803-1']);
      _gaq.push(['_setDomainName', '.gables.com']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_setAllowHash', false]);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      </script>
      <!-- Google Analytics code for Gables.com and related sites end--> 
      <!-- Adroll code begin-->
      <script type="text/javascript">
      adroll_adv_id = "A7ZUDYTTUZAIJJ4Q6WYBDC";
      adroll_pix_id = "52CRNWLIJRA7JAHN77ESMT";
      (function () {
      var oldonload = window.onload;
      window.onload = function(){
      __adroll_loaded=true;
      var scr = document.createElement("script");
      var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
      scr.setAttribute('async', 'true');
      scr.type = "text/javascript";
      scr.src = host + "/j/roundtrip.js";
      ((document.getElementsByTagName('head') || [null])[0] ||
      document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
      if(oldonload){oldonload()}};
      }());
      </script>
      <!-- Adroll code end-->
